<div class="post {{category}}"><img src={{imgSrc}} />
    <div class="post-content">
        <p>{{title}} </p>
        <p>{{description}}</p>
        <a href="#" infoForClick={{imgSrc}}></a>
    </div>
</div>